// COLORS
$white: #fcfcfc;
$black: #080808;
$yellow: #fde04a;
$orange: #f29b34;
$lightblue: #78d7e4;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,800;1,400&display=swap");

$jetbrains: "JetBrains Mono", monospace;

// CSS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}

#page-wrapper {
    background-color: $black;
    width: 100%;
    min-height: 100vh;
}

// page nav

.page-nav {
    width: 100%;
    h1 {
        font-family: $jetbrains;
        font-weight: 700;
        color: $orange;
        font-size: 2.8rem;
        text-align: center;
        padding-block: 1.2rem;
    }
}

// Hero section
